.SignLog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100vh;
}

.SignLog>div:first-child{
    background: red;
}

.SignLog>div:nth-child(2){
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.SL-card button{
    
}
    