/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
    --bg-light-color: #ced8ff;
    --bg-dark-color: #222;
    --text-color: #333;
    --main-color: ;
    --white-color: #fdfdfd;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width:100vw;
    min-height: 100vh;
    background: var(--bg-light-color);
    transition: 0.5s;
}
.container.dark{
background: var(--bg-dark-color);
}

